.navbar {
    /* width: 100%; */
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.profile {
  height: 50px;
  width: 50px;
  border-radius: 50%; 
  object-fit: cover;
  cursor: pointer;
}
