@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family:  "Outfit", sans-serif;
}
:root{
  --color-primary: #4fbf8b;
  --color-primary-dull:#44ae7c;
  
}