.food-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}
.food-item {
  width: 100%;
  /* max-width: 300px; */
  /* margin: auto; */
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s;
  animation: fadeIn 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 380px;
}
.food-item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.food-item-info {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.food-item-name-rating p {
  font-size: 17px;
  font-weight: 500;
}
.food-item-name-rating img {
  width: 70px;
}
.food-item-desc {
  color: #676767;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  
  -webkit-box-orient: vertical;
}
.food-item-price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0;
}

.food-item-img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.food-item-img-container .add {
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}
.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
}
.food-item-counter img {
  width: 30px;
}
