.list-tabel-format{
   display: grid; 
   grid-template-columns:1fr 1.5fr 1fr 1fr 0.5fr;
   align-items: center;
   gap: 10px;
   padding: 12px 15px;
   border: 1px solid #cacaca ;
   font-size: 13px;
}