@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import "tailwindcss";


:root {
  --color-primary:#2563EB;
  --color-secpndary:#FBBF24;


}
*{
   font-family: "Poppins", sans-serif;

}
.font-playfair{
  font-family: playfair !important;
}